body {
  /*background-color: #ff0000;*/
  color: black;
  font-family: 'Arial';
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

/*font styling*/
h1 {
  font-size: 42px;
  line-height: 1.5;
}

h3 {
  font-size: 25px;
  line-height: 1.5;
  font-style: italic;
}

.author {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}

figcaption {
  font-size: 15px;
  line-height: 1.2;
  margin-bottom: 20px;
  font-style: italic;

}

.story-text p {
  line-height: 1.5;
  margin-bottom: 15px;
}

/*links styling*/

a {
  text-decoration: none;
}

a:link { color:#0070BB; } /* unvisited */
a:visited { color:purple; } /* visited */
a:hover { color:pink; } /* mouse over */
a:active { color:#0070BD; } /* selected */